# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Hugging Face
models/distilbert_results/
models/distilbert_sentiment_model/

# PyTorch
*.pt
*.pth
*.bin
*.safetensors

# Data
*.parquet
data/preprocessed/*.csv